body {
    background-color: #969696;
}

/*MENU*/

.header22 {
 background-color: #3F3F3F;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 0 40px 0 40px;
}


.logotipo{
    padding-left: 162px;
}


nav {
    text-align: center;
    padding-right: 180px;
}

.lista-menu {
    display: inline-flex;
    margin: 0 18px;
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#buttom {
    background-color: black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    transition: transform 2s linear;
}

#buttom:hover {
    background-color: #6e6e6e;
    transition: 1s
}

/* FIM DO MENU*/

/*INICIO DA TELA DE LOGIN*/

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #969696;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: black;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #4d4d4d;
    color: white;

}