body {
    background-color: #969696;
}

/*MENU*/

.header22 {
 background-color: #3F3F3F;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 0 40px 0 40px;
}


.logotipo{
    padding-left: 162px;
}


nav {
    text-align: center;
    padding-right: 180px;
}

.lista-menu {
    display: inline-flex;
    margin: 0 18px;
    text-decoration: none;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#buttom {
    background-color: black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    transition: transform 2s linear;
    transition: all linear 160ms;
}

#buttom:hover {
    background-color: #6e6e6e;
    transform: scale(1.05);
}

/* FIM DO MENU*/