body {
    background-color: #969696;
}

/*MENU*/

.header22 {
 background-color: #3F3F3F;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 0 40px 0 40px;
}


.logotipo{
    padding-left: 45px;
}


nav {
    text-align: center;
    padding-right: 180px;
}

.lista-menu {
    display: inline-flex;
    margin: 0 18px;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#buttom {
    background-color: black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    transition: transform 2s linear;
}

#buttom:hover {
    background-color: #6e6e6e;
    transition: 1s
}

/* FIM DO MENU*/


/* INICIO DO CORPO PRINCIPAL*/

div {
    padding: 120px 600px 20px 90px;
}

.Titulo1 {
    padding: 0px 0px 15px 0px;
    font-size: 30px;
}

.p {
    padding: 1px 700px 0px 0px;
}



