body {
    background-color: #969696;
}

/*MENU*/

.header22 {
 background-color: #3F3F3F;
 position: fixed;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 0 40px 0 40px;
}

nav {
    text-align: center;
    padding: 10px;
}

.lista-menu {
    display: inline-flex;
    margin: 0 18px;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#buttom {
    background-color: black;
    display: inline-flex;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
}

/* FIM DO MENU*/


