body {
    background-color: #969696;
}


.cabeçalho {
    display: flex;
    color: rgb(3, 2, 2);
    justify-content: space-around;
    align-items: center;
    background-color: rgb(#494343);

}

.lista-cabeçalho-item {
    display: inline-block;
    margin: 0 16px;
    background-color: rgb(#3f3f3f);

}

.logo-CEM {
    width: 20%;
    background-color: rgb(#3f3f3f);

}

.h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 100;
}

.h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 100;
}

.primeiro p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;

}

.segundo p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}
