
.cabeçalho {
    background-color: rgb(#3F3F3F);
    display: flex;
}

.logo-CEM {
    width: 77%;
}

.cabeçalho-lista {
    display: flex;
}

body {
    background-color: rgb(99, 99, 99);
}