header {
    background-color: #3f3f3f;
    color:rgb(255, 255, 255)
}

.cabeçalho {
    width: 20%;
}

.logo-CEM {
    position: relative;
}

body {
    background-color: rgb(99, 99, 99);
}