
.cabeçalho {
    background-color: rgb(#3F3F3F);
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-around;

}

.logo-CEM {
    width: 20%;
}

.cabeçalho-lista {
    display: inline-block
}
